body{
    background-image: url("background.jpg");
    background-size: cover;
}


header{
    background-color: rgba(0,0,0,0.65);
    height:50px;
    margin-top:0%;
}

h1{
    font-weight: bold;
    color: white;
    text-align: center;
}

#contour{
    background-color: grey;
    border-color: black;
    border-style:solid;
    border-width: 5px;
    border-radius: 10px;
    width: 210px;
    height:300px;
    margin-left: 500px;
    margin-top: 180px;
    padding-top: 10px;
}

#result{
    border-color:black;
    background-color: lightblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    height: 50px ;
    display: flex;
    align-items: center;
    padding-right: 5px;
    justify-content: right;
}

#write{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#egal{
    background-color: lightgreen;
    float:right;
    margin-right: 5px;
    width:50px;
    border-radius: 10px;
    height:40px;
}

#egal:hover{
    background-color: green;
}

.first{
    margin-top:5px;
    margin-left: 5px;
    width: 30px;
    height:40px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.first:hover{
    background-color: lightgray;
}

.button{
    width:30px;
    margin-top: 5px;
    border-radius: 10px;
    height:40px;
}

.button:hover{
    background-color: lightgray;
}

.end{
    width: 30px;
    margin-top:5px;
    border-radius: 10px;
    height:40px;
}

.end:hover{
    background-color: lightgray;
}

h1{
    font-weight: bold;
    color: white;
}

#back{
    width:50px;
    float:right;
    background-color: crimson;
    margin-right: 5px;

}

#back:hover{
    background-color: darkred;
}

#rep{
    width: 40px;
    background-color: gold;
}